.search-bar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-primary);
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 2.5px;
        background-color: var(--color-primary-light);
        left: 35%;
        border-radius: 10px;
    }

    &::before {
        top:38%;
        transform: rotate(40deg);
    }

    &::after {
        bottom: 38%;
        transform: rotate(140deg);
    }

    &_dark-theme{
        background-color: var(--color-light-dark);
    }
}
