.swiper-custom{
    position: relative;

    &_scrollability{
        &::after{
            position: absolute;
            content: '';
            top:0;
            right: -5px;
            height: 100%;
            width: 90px;
            background: linear-gradient(to left, var(--background-color) 75%, transparent);
            z-index: 1;
        }
    }

    &__button-next, &__button-prev{
        position: absolute;
        z-index: 2;
        top: 40%;
    }

    &__button-next{
        right: 0;
    }

    &__button-prev{
        left: 0;
        transform: rotateY(180deg);
    }
}