.swiper-custom{
    position: relative;

    &_scrollability{
        &-right::after, &-left::before{
            position: absolute;
            content: '';
            top:0;
            height: 100%;
            width: 90px;
            z-index: 2;
        }
        &-right{
            &::after{              
                right: -5px;
                background: linear-gradient(to left, var(--background-color) 75%, transparent);
            }
        }

        &-left{
            &::before{
                left: -5px;
                background: linear-gradient(to right, var(--background-color) 75%, transparent);
            }
        }
    }

    &__button-next, &__button-prev{
        position: absolute;
        z-index: 5;
        top: 40%;
    }

    &__button-next{
        right: 0;
    }

    &__button-prev{
        left: 0;
        transform: rotateY(180deg);
    }
}