.launch-screen {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 7vmax;
    justify-content: center;

    &__text {
        font-size: 64px;
        font-weight: 700;
        justify-self: center;
        align-self: start;
        color: inherit;

        @media screen and (max-width: 1919px) {
            font-size: 48px;
        }

        @media screen and (max-width: 1279px) {
            font-size: 36px;
        }

        @media screen and (max-width: 767px) {
            font-size: 24px;
        }
    }
}

.logo_animation {
    animation-duration: 2s;
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    align-self: center;
}

.start-screen{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media screen and (max-width: 376px) {
        justify-content: flex-end;
    }

    &__logo-block{
        margin-bottom: 130px;
    }

    &__links{
        @media screen and (max-width: 376px) {
            margin-bottom: 55px;
        }
    }

    &__heading{
        font-family: 'Rubik Bold', sans-serif;
        margin-top: 34px;
    }

    &__desc{
        font-weight: 500;
        font-size: 20px;
        width: 278px;
    }

    &__question{
        font-size: 18px;
        margin-top: 20px;
    }
}

.register-link{
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    font-size: 18px;
}

@keyframes logo{
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.5);
    }
}
