.btn{
    background-color: var(--color-primary);
    border: none;
    height: 48px;
    font-size: 18px;
    border-radius: 10px;
    color: var(--color-primary-light);
    cursor: pointer;

    &[href]{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    &_disabled{
        background-color: var(--color-light-dark);
    }

    &_big-size{
        width: 325px;
    }

    &_medium-size{
        width: 270px;
        height: 40px;
    }

    &:hover{
        opacity: 0.8;
    }

}