.page-error{
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper{
        width: 25vmax;
        text-align: center;
    }

    img{
        width: 100%;
        margin-bottom: 80px;
    }

    h1{     
        font-size: 2vmax;
        margin-bottom: 33px;
    }

    p{
        font-size: 1vmax;
    }
}