$color-primary-light: #EDF2F7;
$color-bg-dark: #0F172A;
$color-light-dark: #334155;
$color-primary: #4C6FFF;
$color-succes: #66CB9F;
$color-danger: #F16063;
$color-light-gray: #D5D5DC;
$color-dark-light-theme: #17171B;
$color-purple-gradient: linear-gradient(225deg, #D665FF 0%, #4C6FFF 100%);
$color-black-gradient: linear-gradient(225deg, #29272E 0%, #27272E 100%);
$color-orange-gradient: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
$color-yellow-gradient: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
$color-pink-gradient: linear-gradient(224.47deg, #FF92AE 8.18%, #FF3D9A 95.84%);
$color-green-gradient: linear-gradient(225deg, #67E9F1 0%, #24E795 100%);